{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v12.0&appId=629697294691650&autoLogAppEvents=1" nonce="QMv3qXl2"></script>
        <!-- breadcrumb Start-->
        <div class="page-notification">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ post.category.name }}</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ post.title }}</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb End -->
        <!-- Post Details Stat -->
        <div class="psot-details pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="details-img mb-40">
                            <img class="img-fluid" src="{{ post.thumbnail.url }}" alt="">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <div class="about-details-cap">
                        <h2>{{ post.title }}</h2>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="about-details-cap">
                        <p class="mb-30">{{ post.content | safe }}</p>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="about-details-cap">

                            <h4>
                               Auteur:   {{ post.author }}
                            </h4>


                            <div class="sharethis-inline-share-buttons"></div>

                   
                            <!-- Socaial -->
                           <!--<div class="social-iocn pt-20 pb-20">
                                <a href="#"><img class="mr-10 mb-10" src="{% static 'assets/img/gallery/facebook.png' %}" alt=""></a>
                                <a href="#"><img class="mr-10 mb-10" src="{% static 'assets/img/gallery/twitter.png' %}" alt="#"></a>
                                <a href="#"><img class="mr-10 mb-10" src="{% static 'assets/img/gallery/pinterest.png' %}" alt=""></a>
                                <a href="#"><img class="mb-10" src="{% static 'assets/img/gallery/whatsapp.png' %}" alt=""></a>

                            </div> -->

                            <div class="fb-comments" data-href="https://amiral-post.herokuapp.com/article/{{post.slug}}" data-width="800" data-numposts="5"></div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Post Details End -->
   
        <!--comments Area End -->
        <!-- Latest Posts Area -->
        <div class="latest-posts pt-80 pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-tittle mb-35">
                            <h2>Derniers Posts</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                {% for random_3_post in random_3_posts %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-baner-nw2 mb-30">
                            <div class="banner-img-cap2">
                                <div class="banner-img">
                                    <img src="{{random_3_post.thumbnail.url }}" width="362" height="294" alt="">
                                </div>
                                <div class="banner-cap2">
                                    <p>{{ random_3_post.category.name }}</p>
                                   <h3><a href="{% url 'post_details' random_3_post.slug %}">{{ random_3_post.title }}</a></h3>
                                    <p class="blog-text" style="text-transform: normal !important;">{{ random_3_post.intro }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <!-- Latest Posts End-->
        <!-- Want To work -->
        <section class="wantToWork-area gray-bg ">
            <div class="container">
                <div class="wants-wrapper w-padding2">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-6 col-lg-7 col-md-10">
                            <div class="wantToWork-caption wantToWork-caption2">
                              <h2>Abonnez vous pour les dernières nouvelles</h2>
                              <p>vous recevrez des notifications par email,vous informant des dernières nouvelles</p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-12">
                            <form action="https://amiralposts.us5.list-manage.com/subscribe/post" method="POST" class="search-box">
                                <input type="hidden" name="u" value="c580344d9b3b3d0bbc0104e3e">
                                <input type="hidden" name="id" value="30d3489da2">
                                <div class="input-form">
                                  <!--  <input type="email" name="MERGEO" id="MERGEO" placeholder="Entrez votre  email"> -->
                                </div>
                                <div class="search-form">
                                    <input type="submit" class="formEmailButton" name="submit" value="S'enregistrer" >
                                    <!--<a href="#">S'enregistrer </a> -->
                                </div>
                               <input type="hidden" name="ht" value="7a8e8cb6ea75be06bc24c8551129f0f558320bd3:MTYzMjc3NTc0NS43NTc0">
                               <input type="hidden" name="mc_signupsource" value="hosted">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Want To work End -->
  

   {% endblock %}