{% extends 'blog/base.html' %}
{% load static %}

{% block content %}





<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'fr'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <!-- Top Posts Start -->
        <div class="top-post-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-tittle mb-35">
                            <h2>Derniers Posts</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-lg-between">
                    <div class="col-lg-8 col-md-8">
                            {% if posts|length > 0 %}
                                {% for post in posts %}
                                        <!-- single-job-content -->
                                        <div class="single-job-items mb-30">
                                            <div class="job-items">
                                                <div class="company-img">
                                                    {% comment %} <a href="post_details.html"><img src="{% static 'assets/img/gallery/top-psot1.png' %}" alt="" width="250" height="200"></a> {% endcomment %}
                                                    <a href="post_details.html"><img src="{{ post.thumbnail.url }}" alt="" width="250" height="200"></a>
                                                </div>
                                                <div class="job-tittle">
                                                    <span>{{ post.category.name }}</span>
                                                    <a href="{% url 'post_details' post.slug %}"><h4>{{ post.title }}</h4></a>
                                                    <p>{{ post.intro }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                            {% else %}
                                <h1>Pas de résultat ! </h1>
                            {% endif %}
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="google-add mb-40">
                            <h1>Annonce</h1>
                            <a href="{{ pub.link }}" ><img src={{ pub.thumbnail.url }} alt="Pub image"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Posts End -->
        <!--Pagination Start  -->
        <div class="pagination-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="single-wrap d-flex justify-content-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start " id="myDIV">
                               
                                    {% if posts.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">
                                            <span class="ti-angle-double-left"></span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a  class="page-link" href="?page={{ posts.previous_page_number }}">
                                            <span class="ti-angle-left"></span>
                                        </a>
                                     </li>
                                    {% endif %}
                                    {% for num in posts.paginator.page_range %}
                                        {% if posts.number == num %}
                                         <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                        {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                        {% endif%}
                                    {% endfor %}
                                    {% if posts.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ posts.next_page_number }}"><span class="ti-angle-right"></span></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ posts.paginator.num_pages }}"><span class="ti-angle-double-right"></span></a>
                                    </li>
                                    {% endif %}
                                    {% comment %} <li class="page-item"><a class="page-link" href="#"><span class="ti-angle-left"></span></a></li>
                                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><span class="ti-angle-right"></span></a></li> {% endcomment %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Pagination End  -->
        <!-- Nwes slider Start -->
    {% endblock %}